:root {
  --Moderate-violet: hsl(263, 55%, 52%);
  --Very-dark-grayish-blue: hsl(217, 19%, 35%);
  --Very-dark-blackish-blue: hsl(219, 29%, 14%);
  --White: hsl(0, 0%, 100%);

  --Light-gray: hsl(0, 0%, 81%);
  --Light-grayish-blue: hsl(210, 46%, 95%);

  --user-title-color: hsl(0, 0%, 81%, 50%);
  --article-paragraph-color: hsl(0, 0%, 81%, 70%);
  --user-title-white-color: hsl(217, 19%, 35%, 50%);
  --article-paragraph-white-color: hsl(217, 19%, 35%, 70%);

  --font: "Barlow Semi Condensed", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--Light-grayish-blue);
  font-family: var(--font);
  font-size: 0.812rem;
  line-height: 1.3;
  color: var(--White);
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-sizing: border-box;
  max-width: 31.25rem;
  padding: 1.875rem 1.75rem;
  margin: 1.875rem 1.25rem;
  border-radius: 10px;
  box-shadow: 1.25rem 1.25rem 1.25rem rgba(0, 0, 0, 0.1);
}

.profile {
  display: flex;
  align-items: center;
  gap: 0.937rem;
  margin-bottom: 0.937rem;
}
.profile-picture {
  width: 1.875rem;
  border-radius: 50%;
}
.name {
  font-size: 0.812rem;
  font-weight: 500;
}
.title {
  color: var(--user-title-color);
  font-size: 0.687rem;
}
.article-title {
  font-size: 1.187rem;
  margin-bottom: 1.25rem;
  letter-spacing: 0.4px;
  font-weight: 600;
}
.article-paragraph {
  color: var(--article-paragraph-color);
  font-weight: 500;
}

.violet {
  background-color: var(--Moderate-violet);
  background-image: url(./images/bg-pattern-quotation.svg);
  background-position-x: 90%;
  background-repeat: no-repeat;
}
.grayish-blue {
  background-color: var(--Very-dark-grayish-blue);
}
.white {
  background-color: var(--White);
}
.blackish-blue {
  background-color: var(--Very-dark-blackish-blue);
}

.white .article-title,
.white .name {
  color: var(--Very-dark-grayish-blue);
}
.white .article-paragraph,
.white .title {
  color: var(--article-paragraph-white-color);
}

@media (min-width: 70.312rem) {
  body {
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 15.935rem);
    grid-template-rows: repeat(2, auto);
    gap: 25px;
  }
  .card {
    margin: 0;
    box-sizing: content-box;
  }
  .violet {
    background-position-x: 78%;
  }
  .violet,
  .blackish-blue {
    grid-column: 2 span;
  }
  .white-span {
    grid-row: 2 span;
  }
}
.reorder {
  order: 1;
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
